:root {
    background-color: rgb(161, 161, 161);
    --table-bg-color: #fff;
    /* Table background color */
    --table-border-color: #ddd;
    /* Table border color */
    --table-header-bg-color: #f1f1f1;
    /* Table header background color */
    --table-text-color: #333;
    /* Text color for table cells */
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.main {
    padding: 20px 16px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

#divisionSelector,
#seasonSelector {
    background-color: inherit;
    border: none;
    color: black;
    font-weight: bold;
}

.filters {
    background-color: lightgrey;
    border-radius: 4px;
    color: white;
    display: flex;
    height: 20px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px 0px;
}

.filters h4,
.filters select {
    margin-right: 10px;
}

.filters h4:last-child,
.filters select:last-child {
    margin-right: 0;
}

/*-------------*/
/*MEDIA QUERIES*/
/*-------------*/
/*Extra small screens - phones*/
@media screen and (min-width: 480px) {
    main {
        font-size: small;
        margin: auto !important;
        width: 90% !important;
    }
}

/*Small screens - tablets*/
@media screen and (min-width: 768px) {
    main {
        margin: auto !important;
        font-size: medium;
        width: 80% !important;
    }
}

/*medium screens - Laptops*/
@media screen and (min-width: 1024px) {
    main {
        background-color: inherit;
        margin: auto !important;
        width: 768px !important;
    }
}